[2021-10-02 17:37] rishikeshreddyakkireddy opened #1 "Design 1"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this  [Color picker ](https://colorhunt.co/)

![image](https://user-images.githubusercontent.com/83630220/135726501-ff69e3f2-8601-4d91-bad8-f1f202331f53.png)

## Resources

![image](https:

[2021-10-02 18:01] logicalahara commented on #1
Hey, I can help you design this beautiful crypto web page

Does it need to be mobile responsive ?

<h3>Please add me an assignee to this issue</h3>

[2021-10-02 18:03] logicalahara commented on #1
Will you please share single assets for mobile on the right of the page?

[2021-10-02 18:24] rishikeshreddyakkireddy commented on #1
@logicalahara Even if it is not mobile responsive we will consider it, but if it is mobile responsive it would be great.
I don't have the image of it, but you can crop it or you can choose from the internet. Sorry, that  I couldn't provide the image.
you can choose the image which has been provided in the resources.

[2021-10-02 18:31] rishikeshreddyakkireddy commented on #1
@logicalahara Even if it is not mobile responsive we will consider it, but if it is mobile responsive it would be great.
can you share your email, I will provide the image you are asking for.

[2021-10-03 05:54] Gaurangseven commented on #1
Hey ,I can help you with the Web version on desktop ,can you assign me this Issue and where can i find the Assets like images and other things.

[2021-10-03 06:15] rishikeshreddyakkireddy commented on #1
@Gaurangseven hey thank you for reaching out, ok I will assign you.

[2021-10-03 07:08] rishikeshreddyakkireddy opened #2 "Design 2"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color picker](https://colorhunt.co/)

## Design
![image](https://user-images.githubusercontent.com/83630220/135743871-fda7e1eb-d309-45c4-89ba-4a95ddabe791.png)

## Resources

The Req

[2021-10-03 07:27] Gaurangseven commented on #1
Hey is this part of Hacktoberfest ? because in about section its not showing there hacktoberfest mentioned.

[2021-10-03 07:35] rishikeshreddyakkireddy commented on #1
@Gaurangseven  any contribution you make in October will be a part of HacktoberFest

[2021-10-03 07:35] Gaurangseven commented on #1
Images are also not available there ?

[2021-10-03 07:39] rishikeshreddyakkireddy commented on #1
@Gaurangseven  there's one image and I have attached in the above commet. you can use it.

[2021-10-03 07:41] 5h15h1r commented on #2
Assign it to me , I'll try to makeing it.

[2021-10-03 09:43] rishikeshreddyakkireddy opened #3 "Design 3"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color picker](https://colorhunt.co/)

## DESIGN

![image](https://user-images.githubusercontent.com/83630220/135748169-055efd62-019e-408c-a3b2-abc0e61c9f7f.png)

**Create a new folde

[2021-10-03 09:52] kashish-d commented on #3
I can handle this. Can you assign it to me?

[2021-10-03 09:57] rishikeshreddyakkireddy commented on #3
Done, Start contributing.

[2021-10-03 10:47] rishikeshreddyakkireddy opened #4 "Design 4"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color picker](https://colorhunt.co/)

## DESIGN

![crop (2)](https://user-images.githubusercontent.com/83630220/135750121-141997eb-bdf9-4c80-80f5-6ad25e326218.jpg)

## RESOURCES

Ass

[2021-10-03 10:53] Safwan310 commented on #4
Please assign it to me. Also can I know the deadline?

[2021-10-03 10:54] Safwan310 commented on #4
Also I cannot see a folder 4 in the repo, there's only Folder 2

[2021-10-03 10:59] rishikeshreddyakkireddy commented on #4
@Safwan310 yeah I have created floder4 just now and there's no deadline :)

[2021-10-03 11:01] Safwan310 commented on #4
Oh great!

[2021-10-03 11:02] Safwan310 commented on #4
So If I am using React.js, should I just put that folder inside the Folder 4 and start my work?

[2021-10-03 11:07] rishikeshreddyakkireddy commented on #4
@Safwan310 yeah go-ahead

[2021-10-03 11:59] rishikeshreddyakkireddy opened #5 "Design 5"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color picker](https://colorhunt.co/)

## DESIGN

![image](https://user-images.githubusercontent.com/83630220/135752606-32f95b40-a7b7-419e-aeb2-1475c62694dc.png)

## Resources

[2021-10-03 13:00] pri1311 commented on #5
I believe the lower portion containing some image on the left can be not implemented? Right?

[2021-10-03 13:07] rishikeshreddyakkireddy commented on #5
@pri1311  yes you can ignore it. are you interested to contribute to this issue cause I will assign if you are interested

[2021-10-03 13:12] pri1311 commented on #5
This design seems a little challenging to me honestly. Will you be uploading more designs? Or else I'll give this a shot.

[2021-10-03 13:23] rishikeshreddyakkireddy commented on #5
I will be uploading more design's and also you can contribute to any of these 5 issues. I would suggest giving it a try. if you know grid flexbox and positioning in CSS that will be enough.

[2021-10-03 13:24] nikhilreddydev opened #6 "Design 6"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color Picker](https://coolors.co/color-picker)

# DESIGN

![design6](https://user-images.githubusercontent.com/77785504/135755007-9ece527b-7988-4ff2-b44e-dc27fe13320a.png)

# RESOURC

[2021-10-03 13:41] pri1311 commented on #5
Yep, please assign this to me.

[2021-10-03 13:45] rishikeshreddyakkireddy opened #7 "Design 7"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color picker](https://colorhunt.co/)

## DESIGN

![image](https://user-images.githubusercontent.com/83630220/135756237-1dbb9623-a5eb-404d-ac18-0a7fd7b88be7.png)

## Resources

Assets

[2021-10-03 13:47] pri1311 commented on #7
Seems doable. Please assign. Also is it possible to get the image of the logo (paw)?

[2021-10-03 14:00] rishikeshreddyakkireddy commented on #7
@pri1311 yeah, I will share the logo give me some time.

[2021-10-03 14:06] rishikeshreddyakkireddy commented on #7
![d6__2_-removebg-preview](https://user-images.githubusercontent.com/83630220/135757274-52215983-256d-4025-87ae-a117bf0acd07.png)

@pri1311

[2021-10-03 14:10] rishikeshreddyakkireddy opened #8 "Design 8"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color picker](https://colorhunt.co/)

## DESIGN

![image](https://user-images.githubusercontent.com/83630220/135757429-3924e57d-a059-4488-aa79-6594e839bdeb.png)
![image](https://user

[2021-10-03 14:28] nikhilreddydev opened #10 "Design 9"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color Picker](https://coolors.co/color-picker)

# DESIGN

![design7](https://user-images.githubusercontent.com/77785504/135758209-bf12e6cd-5611-4424-821a-0d776f238ee5.png)

# RESOURC

[2021-10-03 15:17] arsen1c commented on #8
Hey! I would like to get started on this design! But the only thing I am not sure is the Yellow and Green background behind those cards in the 2nd image. Also, I can do this in plain html/css.

Let me know if I can contribute to this :)

[2021-10-03 15:43] nikhilreddydev opened #12 "Design 10"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color Picker](https://coolors.co/color-picker)

# DESIGN

![design10](https://user-images.githubusercontent.com/77785504/135761369-7368d7ff-9a4f-47f2-90dd-2bd625296071.png)

# RESOUR

[2021-10-03 17:09] nitishapiplani commented on #10
I WOULD LIKE TO DO THIS

[2021-10-03 17:10] nitishapiplani commented on #6
WOULD LIKE TO DO THIS

[2021-10-03 17:14] rishikeshreddyakkireddy commented on #10
@nitishapiplani I have assigned it to you, go ahead.

[2021-10-03 17:54] mifrasgaffoor commented on #4
Please assign it to me.

[2021-10-03 19:58] leticiavargas commented on #12
Hello, please assigneed to me :)

[2021-10-04 04:02] logicalahara commented on #1
Hey @rishikeshreddyakkireddy, I've created a PR for #16

As discussed, I developed entire codebase using GatsbyJS and React and made it mobile responsive too.

Please have a look.

Please do add tag "hacktober-accepted" after PR review.

[2021-10-04 04:09] logicalahara commented on #1
I just saw that this project is not praticipated in hacktoberfest. So I request you to please make it valid hacktoberfest project

[2021-10-04 06:52] rishikeshreddyakkireddy commented on #1
@logicalahara  any PR that you contribute during hacktoberfest will be a valid PR. Haven't seen your project yet but I will let you know after going through the project and also added hacktoberfest-accepted to your PR.

[2021-10-04 06:59] #8 closed

[2021-10-04 07:16] rishikeshreddyakkireddy commented on #4
The best one will be merged and however, I will add the label hacktoberfest-accepted.

[2021-10-04 07:31] TD-17 commented on #12
Hey @nikhilreddydev ! I am participating in hacktoberfest. Could You please assign this issue to me ?

[2021-10-04 07:32] TD-17 commented on #2
Hey @rishikeshreddyakkireddy ! Could you please assign this issue to me ?

[2021-10-04 07:33] TD-17 commented on #3
Hey @rishikeshreddyakkireddy ! I want to work on this issue !

[2021-10-04 07:37] nikhilreddydev commented on #12
@rishikeshreddyakkireddy assign this issue to the above contributors.

[2021-10-04 07:45] rishikeshreddyakkireddy commented on #12
The best one will be merged and for sure I will add hacktoberfest-accepted to the PR's, Give me some time I will add the required assets to the folder Design10

[2021-10-04 07:57] 5h15h1r commented on #2
@TD-17  you can try any other issue, this issue is already assigned to me

[2021-10-04 08:20] rishikeshreddyakkireddy commented on #12
@TD-17 @leticiavargas  required assets have been added

[2021-10-04 11:45] rishikeshreddyakkireddy commented on #3
@TD-17  start working on it

[2021-10-04 11:58] kashish-d commented on #3
Working on it😊

[2021-10-04 12:00] rishikeshreddyakkireddy commented on #1
@logicalahara  I have seen your contribution and it's perfect.

[2021-10-04 12:33] nitishapiplani commented on #10
Is this not close still

[2021-10-04 16:23] rishikeshreddyakkireddy opened #20 "Design 11"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color Picker](https://coolors.co/color-picker)

# DESIGN

![d11](https://user-images.githubusercontent.com/83630220/135888123-9916db8c-3c6b-4fc7-b462-8cc64bf3e9a5.png)

# RESOURCES

[2021-10-04 16:45] durgeshahire07 commented on #20
I can work on this

[2021-10-04 16:52] rishikeshreddyakkireddy commented on #20
@durgeshahire07  start working on it brother.

[2021-10-04 17:13] #7 closed

[2021-10-05 05:24] #6 closed

[2021-10-05 06:34] #20 closed

[2021-10-05 08:08] #10 closed

[2021-10-05 08:09] rishikeshreddyakkireddy opened #22 "Design 12"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color Picker](https://coolors.co/color-picker)

# DESIGN

![d12](https://user-images.githubusercontent.com/83630220/135984761-7635eff6-7391-4e56-91d5-4956510ff1f1.png)

# RESOURCES

[2021-10-05 08:37] rishikeshreddyakkireddy opened #23 "Design 13"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color Picker](https://coolors.co/color-picker)

# DESIGN

![d13](https://user-images.githubusercontent.com/83630220/137574536-93686f07-d58c-4c2e-9b71-b2cd72e25ad3.png)

# RESOURCES

[2021-10-05 09:56] rohanpaldesign commented on #22
Assign this to me @rishikeshreddyakkireddy

[2021-10-05 11:05] rishikeshreddyakkireddy opened #24 "Design 14"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color Picker](https://coolors.co/color-picker)

# DESIGN

![d14 (2)](https://user-images.githubusercontent.com/83630220/136011477-1a24d672-5a37-4cc6-8fbf-a206831e3115.jpg)

# RESOURC

[2021-10-05 11:09] devon221 commented on #24
Can you assign this issue to me ?

[2021-10-05 11:21] rishikeshreddyakkireddy commented on #24
@devon221  Start Working on it.

[2021-10-05 12:05] rishikeshreddyakkireddy opened #25 "Design 15"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color Picker](https://coolors.co/color-picker)

# DESIGN

![d15 (1)](https://user-images.githubusercontent.com/83630220/136018965-5385b451-f0b9-4f82-b7d6-d42901955c9a.jpg)

# RESOURC

[2021-10-05 13:35] rishikeshreddyakkireddy opened #26 "Design 16"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color Picker](https://coolors.co/color-picker)

# DESIGN

![image](https://user-images.githubusercontent.com/83630220/136031922-75fc8d2c-5279-4c02-87de-6da252f163e9.png)

# Colors

!

[2021-10-05 13:44] bhavya-vaid commented on #26
Hey, please assign this to me

[2021-10-05 13:44] bhavya-vaid commented on #25
Hey, please assign this to me

[2021-10-05 13:45] bhavya-vaid commented on #22
Hey, please assign this to me

[2021-10-05 13:50] rishikeshreddyakkireddy commented on #25
@bhavya-vaid  ok I have assigned an issue to you, if you are interested I will assign this issue too.

[2021-10-05 14:06] rishikeshreddyakkireddy opened #27 "Design 17"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.
If you find it difficult in picking color's go to this [Color Picker](https://coolors.co/color-picker)

# DESIGN

![image](https://user-images.githubusercontent.com/83630220/136039196-12fc3429-f636-4cda-bcca-17079543702f.png)

# Resources

[2021-10-05 14:50] rohanB112 commented on #27
Hey, I want to work on this. Please assign this to me

[2021-10-05 15:27] nikhilreddydev opened #31 "Design 18"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN
![d18](https://user-images.githubusercontent.com/77785504/136053789-ad0d73bc-dbb9-4aa5-a16d-6ddae8527d60.png)

# Resources
Assets that are needed, are available in folder Design18.

1: Color Palette generator : https://coolors.c

[2021-10-05 15:34] nikhilreddydev opened #33 "Design 19"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

For this design, develop three pages: index, student, mentor. And link them accordingly.

![d22](https://user-images.githubusercontent.com/77785504/136054770-26e732f9-726e-4775-9f5f-7e6cd40b9483.png)
![d22stu](https://user-imag

[2021-10-05 15:40] nikhilreddydev opened #35 "Design 20"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN
![d19](https://user-images.githubusercontent.com/77785504/136055962-b23712df-eebc-4c81-a692-de39c1fe2bac.png)

 # Resources
Assets that are needed, are available in folder Design20.

1: Color Palette generator : https://coolors.

[2021-10-05 15:43] rishikeshreddyakkireddy commented on #27
@rohanB112 start working ;)

[2021-10-05 15:49] Nishith-Gohel commented on #33
Hello @nikhilreddydev, shall I contribute towards making this desgin under hacktoberfest, I can design it using FIGMA.

[2021-10-05 15:50] Nishith-Gohel commented on #33
Could you please assign the task to me ?

[2021-10-05 15:57] rishikeshreddyakkireddy commented on #33
@Nishith-Gohel  actually we are asking people to code these design's, ok try to create the design using any tool you wish.
create a new folder named  "Design" and in that folder create another folder with the name "design19" and insert the design into it.
 **Design/design19/image.png**

[2021-10-05 16:10] MaitriDA commented on #35
Please assign me this issue. I will try my best to make a design as close as possible to the given one.

[2021-10-05 16:11] MaitriDA commented on #31
Please assign me this issue.

[2021-10-05 16:43] Nishith-Gohel commented on #33
Okay, I shall do it.

[2021-10-05 17:12] rishikeshreddyakkireddy commented on #35
ok, you want to develop the design right?, ok go ahead and start designing I will tell you how to submit it to the repo until then start designing :)

[2021-10-05 17:13] rishikeshreddyakkireddy commented on #33
@Nishith-Gohel Yeah brother start working

[2021-10-05 17:15] rishikeshreddyakkireddy commented on #31
@MaitriDA wanna code it or want to design it? I have assigned an issue to you, if you are interested I will assign this one too.

[2021-10-05 17:21] MaitriDA commented on #31
Do I need to implement the signin and signup feature as well? Or just the UI part.

[2021-10-05 17:21] nikhilreddydev opened #37 "Design 21"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN
![d21](https://user-images.githubusercontent.com/77785504/136072072-b8c00f16-9115-408f-b330-f3229d0a9b08.png)

# Resources
Assets that are needed, are available in folder Design21.

1: Color Palette generator : https://coolors.c

[2021-10-05 17:24] rishikeshreddyakkireddy commented on #25
Sorry @bhavya-vaid  I thought I have assigned it to you, if you are interested to work on the other repo which you have commented on do let me know :)

[2021-10-05 17:26] rishikeshreddyakkireddy commented on #31
just the UI part.

[2021-10-05 17:30] rishikeshreddyakkireddy commented on #31
@MaitriDA are you interested to contribute to both of the issues you have asked for?

[2021-10-05 17:34] MaitriDA commented on #31
I would like to complete the Design 20 #35 issue first

[2021-10-05 17:42] #27 closed

[2021-10-05 17:46] rishikeshreddyakkireddy commented on #31
ok, thank you for the response :)

[2021-10-05 18:05] SO1ee commented on #31
Hello sir! I would like to code this page using html, css , bootstrap . Could you please assign me this task? Thank you for your time.

[2021-10-05 18:29] rajputarjun2001 commented on #23
Hi @rishikeshreddyakkireddy, I want to code this UI, Could you please assign this to me?

[2021-10-06 04:37] rishikeshreddyakkireddy commented on #31
@SO1ee  start working on it!!

[2021-10-06 04:39] rishikeshreddyakkireddy commented on #23
@rajputarjun2001 start working on it brother

[2021-10-06 04:43] ShashankJais128 commented on #37
I'll code using HTML and CSS.

[2021-10-06 04:51] SO1ee commented on #31
Okay sure ! Thank you .

[2021-10-06 04:55] sabirans commented on #22
Hey, please assign me this project this will be my first project
thank you

[2021-10-06 05:46] rishikeshreddyakkireddy opened #41 "Design 22"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d22](https://user-images.githubusercontent.com/83630220/136147080-71800b70-3df1-46da-a9ee-35945b542a45.jpg)

# Resources

Assets that are needed, are available in folder Design22.

1: Color Palette generator : https://coolors

[2021-10-06 05:52] merikettapearl212 commented on #41
Hi can I get this assigned to me? Thank you

[2021-10-06 06:09] rishikeshreddyakkireddy opened #42 "Design 23"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d23](https://user-images.githubusercontent.com/83630220/136149563-5a6d230c-a0e2-4515-8dbc-5167cdf4f974.jpg)

# Resources

**Assets that are needed, are available in folder Design23.**

1: Color Palette generator : https://coo

[2021-10-06 06:10] rishikeshreddyakkireddy opened #43 "Design 23"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d23](https://user-images.githubusercontent.com/83630220/136149563-5a6d230c-a0e2-4515-8dbc-5167cdf4f974.jpg)

# Resources

**Assets that are needed, are available in folder Design23.**

1: Color Palette generator : https://coo

[2021-10-06 06:11] #43 closed

[2021-10-06 06:12] rishikeshreddyakkireddy commented on #41
@merikettapearl212  Yeah, Go ahead :)

[2021-10-06 07:22] rishikeshreddyakkireddy opened #44 "Design 24"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d24](https://user-images.githubusercontent.com/83630220/136157914-15a4f4d8-0b88-4f07-8273-bdd0d7652345.png)

# Resources

**Assets that are needed, are available in folder Design23.**

1: Color Palette generator : https://coo

[2021-10-06 07:29] ArnabMdev commented on #44
I would like to be assigned this issue.

[2021-10-06 07:31] aparna-bhatt commented on #42
I would like to work on this issue.

[2021-10-06 07:46] rohanB112 commented on #26
Hey, @rishikeshreddyakkireddy can you assign this to me too? I want to work on this.

[2021-10-06 07:58] iqbalutomo commented on #33
Hello I'm back👋🏼
I am interested in working on this project. can you assign me?

[2021-10-06 07:58] rishikeshreddyakkireddy commented on #42
@aparna-bhatt  start working!

[2021-10-06 09:20] rishikeshreddyakkireddy commented on #31
@Alok214   start contributing

[2021-10-06 10:28] rishikeshreddyakkireddy opened #46 "Design 25"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d25](https://user-images.githubusercontent.com/83630220/136186177-e2d3c7df-847e-4ded-aedc-d6ed535a8f9d.jpg)

# Resources

**Assets that are needed, are available in folder Design23.**

1: Color Palette generator : https://coo

[2021-10-06 10:43] rishikeshreddyakkireddy opened #47 "Design 26"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d26 (1)](https://user-images.githubusercontent.com/83630220/136188311-432feddf-5a79-4b4d-b4bd-13f2a782fca6.jpg)

# Resources

**Assets that are needed, are available in folder Design23.**

1: Color Palette generator : https:/

[2021-10-06 12:37] nikhilreddydev opened #51 "Design 27"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN
![design27](https://user-images.githubusercontent.com/77785504/136203335-935553bb-1fe9-432f-bfa2-ea19690d955a.png)

# Resources
Assets that are needed, are available in folder Design27.

1: Color Palette generator : https://cool

[2021-10-06 12:39] rishikeshreddyakkireddy opened #52 "Design 27"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d27](https://user-images.githubusercontent.com/83630220/136203011-76b0f3f0-089b-4140-ba20-827bdfe8f273.png)

# Resources

**Assets that are needed, are available in folder Design27.**

1: Color Palette generator : https://coo

[2021-10-06 12:42] rishikeshreddyakkireddy opened #54 "Design 28"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN
![design27](https://user-images.githubusercontent.com/77785504/136203335-935553bb-1fe9-432f-bfa2-ea19690d955a.png)

# Resources
Assets that are needed, are available in folder Design28.

1: Color Palette generator : https://cool

[2021-10-06 12:53] tanaya123-comp commented on #47
I would like to work on this issue. Can you please assign it to me?

[2021-10-06 12:53] pratham022 commented on #54
Hi, I would like to work on this issue. Can you please assign it to me?

[2021-10-06 13:10] pratham022 commented on #54
Yes sure!

[2021-10-06 13:25] rishikeshreddyakkireddy commented on #54
@pratham022  start working on it brother, assets are added  in folder design28

[2021-10-06 13:28] tanaya123-comp commented on #47
Yes 👍

[2021-10-06 13:34] FantasticMrHurst commented on #52
Hi @rishikeshreddyakkireddy, I'd like to build this page. Would you be able to assign to me?

[2021-10-06 14:04] rohanB112 commented on #54
Hey @rishikeshreddyakkireddy, can i work on this too??

[2021-10-06 14:06] iqbalutomo commented on #33
I will do it brother. By the way, can I make this project into my portfolio? @rishikeshreddyakkireddy

[2021-10-06 14:53] Evavic44 commented on #54
This is a very clean UI. 😎

[2021-10-06 15:46] Alok214 commented on #31
Hello, rishikeshreddyakkireddy . Can you please assign me again. By mistake I clicked on unassign. I have completed the design-18.
I am just going to submit design-18. Please assign me again. And sorry for inconvenience.

[2021-10-06 15:48] #35 closed

[2021-10-06 15:52] SO1ee commented on #31
Hello sir! I have almost done this project . You have already assigned me this task .

[2021-10-06 17:27] #4 closed

[2021-10-06 17:32] rohanB112 commented on #54
@rishikeshreddyakkireddy I made a pull request, please check.

[2021-10-06 17:34] SO1ee commented on #31
Okay sir! one more thing i have to inform you , i have made this complete page responsive starting from navbar . Thank you for this  project and i enjoyed it a lot .

[2021-10-06 17:35] vikasbhalla05 commented on #54
Sure

[2021-10-06 17:38] vikasbhalla05 commented on #46
I can take up this project

[2021-10-06 18:08] rishikeshreddyakkireddy opened #62 "Design 29"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d29](https://user-images.githubusercontent.com/83630220/136259235-71877e50-1599-4860-8536-29ff50c8d7e7.jpg)

# Resources
Assets that are needed, are available in folder Design29.

1: Color Palette generator : https://coolors.

[2021-10-06 18:17] SO1ee commented on #62
Hello Sir ! I want to work on this design . Could you please assign me this .

[2021-10-06 20:13] rishikeshreddyakkireddy commented on #54
@Evavic44  Shall assign you the design29 ? #62

[2021-10-07 05:27] rishikeshreddyakkireddy commented on #62
@Evavic44 assigning this to you :)

[2021-10-07 05:31] rishikeshreddyakkireddy commented on #31
@himanshukaushal123 Alok and SO1ee are done in making the design so if you are interested design12 is open do let me know there :)

[2021-10-07 05:32] rishikeshreddyakkireddy commented on #33
@iqbalutomo Go ahead.

[2021-10-07 05:39] rishikeshreddyakkireddy commented on #54
@theprojectcode I will upload new issue's within the next hour do contribute :)

[2021-10-07 06:38] rishikeshreddyakkireddy opened #64 "DESIGN 30"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d30](https://user-images.githubusercontent.com/83630220/136332242-33d2a5fb-3bd0-4ee4-a005-d56543d70199.png)

# Resources

**Assets that are needed, are available in folder Design30**

1: Color Palette generator : https://cool

[2021-10-07 07:32] rishikeshreddyakkireddy opened #65 "DESIGN 31"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d31](https://user-images.githubusercontent.com/83630220/136339648-cd977517-9120-49ea-a4ae-228d23da5b57.jpg)

# Resources

**Assets that are needed, are available in folder Design31**

1: Color Palette generator : https://cool

[2021-10-07 08:05] rishikeshreddyakkireddy opened #67 "DESIGN 32"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d32](https://user-images.githubusercontent.com/83630220/136344661-a53fb7be-8fd8-4835-8efe-067718fb7050.jpg)

# Resources

**Assets that are needed, are available in folder Design32**

1: Color Palette generator : https://cool

[2021-10-07 08:34] ShashankJais128 commented on #37
Hi! I have submitted a pull Request

[2021-10-07 08:38] #54 closed

[2021-10-07 09:09] #37 closed

[2021-10-07 09:18] AkhilChoubey commented on #65
I would like to work on this , please assign it to me!

[2021-10-07 09:21] rishikeshreddyakkireddy commented on #26
@bhavya-vaid are you working on this issue ?

[2021-10-07 10:18] Alok214 commented on #31
Yes, I made It
![Screenshot (24)](https://user-images.githubusercontent.com/85722241/136365516-51f0e3a4-366c-40f8-970b-c57a6e81b63c.png)

[2021-10-07 12:08] rishikeshreddyakkireddy opened #72 "DESIGN 33"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![image](https://user-images.githubusercontent.com/83630220/136380948-789b49bd-8283-47c9-bee6-ca55548ff9c1.png)

# Resources

**Assets that are needed, are available in folder Design33**

1: Color Palette generator : https://co

[2021-10-07 12:33] rishikeshreddyakkireddy opened #73 "DESIGN 34"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d34](https://user-images.githubusercontent.com/83630220/136384600-6270547f-b101-4cb8-bddd-a34bcca3a256.jpg)

# Resources

**Assets that are needed, are available in folder Design34**

1: Color Palette generator : https://cool

[2021-10-07 14:40] rishikeshreddyakkireddy opened #74 "DESIGN 35"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![design](https://user-images.githubusercontent.com/83630220/136407104-e18259c2-6901-4d0b-8173-8a0df6512f6e.png)

# Resources

**Assets that are needed, are available in folder Design 35**

1: Color Palette generator : https://

[2021-10-07 15:19] rishikeshreddyakkireddy opened #76 "DESIGN 36"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d36](https://user-images.githubusercontent.com/83630220/136414159-4742dc7c-7d81-455a-a9b9-a21196205543.png)

# Resources

**Assets that are needed, are available in folder Design36**

1: Color Palette generator : https://cool

[2021-10-07 15:32] rishikeshreddyakkireddy commented on #76
@kibi11  start working on it brother :)

[2021-10-07 15:54] vishalk3102 commented on #74
@rishikeshreddyakkireddy  Assign this issue to me.

[2021-10-07 16:35] rishikeshreddyakkireddy opened #77 "DESIGN 37"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d37](https://user-images.githubusercontent.com/83630220/136426962-0860f642-5fac-44a0-861f-6468ee78f18b.jpg)

# Resources

**Assets that are needed, are available in folder Design37**

1: Color Palette generator : https://cool

[2021-10-07 16:40] deek121477 commented on #77
Can I work on this issue?

[2021-10-07 17:03] rishikeshreddyakkireddy opened #78 "DESIGN 38"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d](https://user-images.githubusercontent.com/83630220/136431075-8dc3856e-eb6b-463b-9b26-6195b123c6b3.jpg)

# Resources

**Assets that are needed, are available in folder Design38**

1: Color Palette generator : https://coolor

[2021-10-07 17:05] rishikeshreddyakkireddy commented on #77
@deek121477 I have just uploaded design38, please do have look at it :)

[2021-10-07 17:06] #31 closed

[2021-10-07 17:24] DarkSoul26 commented on #78
Hey, I would like to work on this design.

[2021-10-07 17:48] MostafaKMilly commented on #73
i'm working on this :)

![Image](https://i.ibb.co/RytD5V0/Screenshot-2021-10-07-204710.png)

[2021-10-07 19:39] SO1ee commented on #72
Hello sir ! Design is ready . Have a look on it
![Screenshot 2021-10-08 010706](https://user-images.githubusercontent.com/90699287/136451230-8a70e630-b2c5-4ee0-bb6d-2f6179fd7185.png)

[2021-10-07 21:34] #73 closed, assigned to MostafaKMilly

[2021-10-07 21:55] vishalk3102 commented on #2
@rishikeshreddyakkireddy   if this issue is not solved by @5h15h1r ...then please assigned this to me...

[2021-10-08 04:30] YashGupta29 commented on #5
Hey, i would love to contribute. If the issue is not resolved till now. Can you please assign this to me?

[2021-10-08 04:47] nikhilreddydev opened #81 "DESIGN 39"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![raika_x_dribbble_3x](https://user-images.githubusercontent.com/77785504/136499851-7e66c65f-a3c8-4e76-a65b-fb023b761c8e.png)

# Resources

**Assets that are needed, are available in folder Design39**

1: Color Palette generato

[2021-10-08 05:12] Khushi-agarwal commented on #81
@nikhilreddydev can I work on this one?

[2021-10-08 05:16] Khushi-agarwal commented on #81
@rishikeshreddyakkireddy can I work on this issue

[2021-10-08 05:16] nikhilreddydev opened #83 "DESIGN 40"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d40](https://user-images.githubusercontent.com/77785504/136502165-440f7769-c585-4074-bf69-8e00ae699511.png)

# Resources

**Assets that are needed, are available in folder Design40**

1: Color Palette generator : https://cool

[2021-10-08 05:43] YashGupta29 commented on #83
Hey, I would love to contribute. Can you please assign this to me?

[2021-10-08 06:05] nikhilreddydev opened #85 "DESIGN 41"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![00da94f05db44aead90773f217c423b6](https://user-images.githubusercontent.com/77785504/136506313-02ce60a4-24d4-4e23-ab6c-344e2502c427.png)

# Resources

**Assets that are needed, are available in folder Design41**

1: Color Pal

[2021-10-08 06:14] rishikeshreddyakkireddy commented on #83
start contributing @YashGupta29  :)

[2021-10-08 06:30] rishikeshreddyakkireddy commented on #2
@5h15h1r Brother are you working on the issue?

[2021-10-08 06:40] nikhilreddydev opened #87 "DESIGN 42"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d42](https://user-images.githubusercontent.com/77785504/136510126-3201e0d5-d6ec-40af-a501-df4df7a1a7e6.png)

# Resources

**No assets are required for this implementation**

1: Color Palette generator : https://coolors.co/
2:

[2021-10-08 07:00] DarkSoul26 commented on #78
@rishikeshreddyakkireddy I'll be making it with HTML and CSS, not including react, will that work?

[2021-10-08 07:00] shubhnanda commented on #87
Interested to work on this project.
Please assign it to me.

[2021-10-08 07:02] nikhilreddydev commented on #81
@Khushi-agarwal ,
Please make sure that you have read our contributing guidelines in the  [README](https://github.com/rishikeshreddyakkireddy/designtodevelopment#readme).

And make a PR accordingly.

Happy hacking :)

[2021-10-08 07:04] Rohit-8 commented on #67
Please assign this issue to me. I can solve this problem.

[2021-10-08 07:05] sameer-19 commented on #67
Please assign this problem to me. I will make this page.

[2021-10-08 07:06] sameer-19 commented on #87
Please assign this issue to me. I will make this page.

[2021-10-08 07:10] rishikeshreddyakkireddy commented on #5
@pri1311 thank you for letting me know, you are one of our best contributors you are always welcome here :)

[2021-10-08 07:10] rishikeshreddyakkireddy commented on #5
@YashGupta29 are you interested to work on this ? I will assign it to you :)

[2021-10-08 07:51] nikhilreddydev opened #91 "DESIGN 43"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![26988ae71f1e55b1c7b9303dd7f19896](https://user-images.githubusercontent.com/77785504/136518453-a9037dd4-2853-41db-bfcb-b4fb6334a406.png)

# Resources

**No assets are required for this design**
Just make sure that you provide

[2021-10-08 08:21] noob0412 commented on #91
I do want to contribute to it @nikhilreddydev

[2021-10-08 08:24] nikhilreddydev commented on #91
yeah @noob0412 , you are assigned for this issue, now start contributing.

Also make sure that you read our contribution guidelines which are mentioned in README.md.

Happy hacking :)

[2021-10-08 08:33] rishikeshreddyakkireddy opened #93 "DESIGN 44"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d44](https://user-images.githubusercontent.com/83630220/136524745-577a3c6a-c387-458b-8b1a-45f0fb74d16e.jpg)

# Resources

**Assets that are needed, are available in folder Design44**

1: Color Palette generator : https://cool

[2021-10-08 08:43] rishikeshreddyakkireddy commented on #93
@Babsmutini  start working :)

[2021-10-08 08:45] rishikeshreddyakkireddy opened #94 "DESIGN 45"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d45](https://user-images.githubusercontent.com/83630220/136526397-6112bff0-6672-409a-8166-bc95f9c4b623.png)

# Resources

**Assets that are needed, are available in folder Design45**

1: Color Palette generator : https://cool

[2021-10-08 09:02] rishikeshreddyakkireddy opened #95 "DESIGN 46"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![image](https://user-images.githubusercontent.com/83630220/136529140-ebcc1712-a487-4f19-8bda-d4c91581f4d0.png)

# Resources

**Assets that are needed, are available in folder Design46**
1: Color Palette generator: https://cool

[2021-10-08 09:11] rishikeshreddyakkireddy opened #97 "DESIGN 46"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![image](https://user-images.githubusercontent.com/83630220/136530300-1af1d928-43ec-48f4-ba99-d37a3cc84265.png)

# Resources

**Assets that are needed, are available in folder Design46**

1: Color Palette generator : https://co

[2021-10-08 09:38] rishikeshreddyakkireddy opened #98 "DESIGN 47"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d47](https://user-images.githubusercontent.com/83630220/136534094-08f2bb39-ed5a-4393-954f-f99a996b5e97.jpg)

# Resources

**Assets that are needed, are available in folder Design47**

1: Color Palette generator : https://cool

[2021-10-08 09:44] rishikeshreddyakkireddy opened #99 "DESIGN 48"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d48](https://user-images.githubusercontent.com/83630220/136535031-0eb57feb-d94d-4174-947e-c24d6ca109a5.jpg)

# Resources

**Assets that are needed, are available in folder Design48**

1: Color Palette generator : https://cool

[2021-10-08 09:53] rishikeshreddyakkireddy opened #100 "DESIGN 49"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d49](https://user-images.githubusercontent.com/83630220/136536298-2bab3af3-dcc5-47dc-af0f-526f063fc9e3.png)

# Resources

Add any 3 images of your choice, start designing in folder Design49

1: Color Palette generator : https

[2021-10-08 09:59] rishikeshreddyakkireddy commented on #98
start working Rohan :), try to make it responsive, and also we have updated the readme and rules.md do check it out  :) @rohanB112

[2021-10-08 10:23] #83 closed, assigned to YashGupta29

[2021-10-08 10:23] #74 closed

[2021-10-08 11:34] YashGupta29 commented on #100
@rishikeshreddyakkireddy  Hey, it's done. Please review the PR. Thank You

[2021-10-08 12:22] rishikeshreddyakkireddy opened #105 "DESIGN 50"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d50](https://user-images.githubusercontent.com/83630220/136555859-8b39912b-a7e3-4e9b-be74-e99d8aa039e5.jpg)

# Resources

**Assets that are needed, are available in folder Design50**

1: Color Palette generator : https://cool

[2021-10-08 12:48] rishikeshreddyakkireddy commented on #105
@Rohit-8 I will be uploading a few more design's in the next hour, please make sure to comment on the issue before someone comment on that issue.

@BrendaMichellle start working on it :)

[2021-10-08 12:54] rishikeshreddyakkireddy opened #106 "DESIGN 51"
Develop this design using your preferred web technologies. Try to approximate it up to 90%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![51](https://user-images.githubusercontent.com/83630220/136560376-70fb5bae-9cdf-4024-aa64-c20ebf204a6e.jpg)

# Resources

**Assets that are needed, are available in folder Design51**

1: Color Palette generator : https://coolo

[2021-10-08 12:56] serhatbek commented on #106
Thank you. :)

[2021-10-08 13:14] rishikeshreddyakkireddy opened #107 "DESIGN 52"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d52](https://user-images.githubusercontent.com/83630220/136563421-588c18cc-549f-47ba-840b-26a6ac6defde.png)

# Resources

**Assets that are needed, are available in folder Design52**

1: Color Palette generator : https://cool

[2021-10-08 14:32] nikhilreddydev opened #109 "DESIGN 54"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN
![Screenshot (2)](https://user-images.githubusercontent.com/77785504/136574928-85e93017-3112-44aa-bed2-30d65c765c01.png)

# Resources

**Assets that are needed, are available in folder Design54**

1: Color Palette generator : ht

[2021-10-08 14:40] rishikeshreddyakkireddy opened #111 "DESIGN 53"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![53](https://user-images.githubusercontent.com/83630220/136576403-03b35472-0bf6-4ac0-8a7a-9c9cfb30a8b0.jpg)

# Resources

**Assets that are needed, are available in folder Design53**

1: Color Palette generator : https://coolo

[2021-10-08 14:57] tarunkumargit commented on #111
HI @rishikeshreddyakkireddy assign this to me. Thanks

[2021-10-08 15:42] rishikeshreddyakkireddy opened #113 "DESIGN 55"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![dcurr](https://user-images.githubusercontent.com/83630220/136585405-d2822341-8c09-4833-bd44-001ad5fc7990.png)

# Resources

**Assets that are needed, are available in folder Design55**

1: Color Palette generator : https://co

[2021-10-08 15:49] rishikeshreddyakkireddy opened #114 "DESIGN 56"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d56](https://user-images.githubusercontent.com/83630220/136586400-28f565f1-c726-4fef-9704-45be364324d5.jpg)

# Resources

**Assets that are needed, are available in folder Design56**

1: Color Palette generator : https://cool

[2021-10-08 16:03] rishikeshreddyakkireddy opened #116 "DESIGN 57"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![img57](https://user-images.githubusercontent.com/83630220/136588364-45034e98-83e2-4644-9208-5ccd5c927c21.jpg)

# Resources

**Assets that are needed, are available in folder Design57**

1: Color Palette generator : https://co

[2021-10-08 16:04] rishikeshreddyakkireddy commented on #114
@Chetana16032002 start working :)

[2021-10-08 16:09] hiddenlucas commented on #116
Please assign me :)

[2021-10-08 16:21] #93 closed

[2021-10-08 16:21] #99 closed, assigned to hiddenlucas

[2021-10-08 16:27] nikhilreddydev opened #117 "DESIGN 58"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![ezgif com-gif-maker](https://user-images.githubusercontent.com/77785504/136591342-172687b0-0b8f-401a-ad2f-782e3fc3620f.png)

# Resources

**Assets that are needed, are available in folder Design58**

1: Color Palette generato

[2021-10-08 16:32] nikhilreddydev opened #119 "DESIGN 59"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![ezgif com-gif-maker](https://user-images.githubusercontent.com/77785504/136591879-028f817e-4526-4829-b429-b56807649002.png)

# Resources

**Assets that are needed, are available in folder Design59**

1: Color Palette generato

[2021-10-08 16:36] melan96 commented on #119
i will go through it!

[2021-10-08 16:42] nikhilreddydev opened #123 "DESIGN 60"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![cdn_dribbble_com-746169132ec45b15992c0383745b6d2b](https://user-images.githubusercontent.com/77785504/136593171-fef5824b-cf8d-46d0-91e9-813f2f73d6f9.png)

# Resources

**Assets that are needed, are available in folder Design6

[2021-10-08 16:45] rishikeshreddyakkireddy commented on #119
@Tushar-mn do check other issue's, I will assign you

[2021-10-08 16:53] YashGupta29 commented on #107
@rishikeshreddyakkireddy  Done Bro. Please review the PR. Thanks.

[2021-10-08 17:47] alokparth commented on #123
Please assign this issue to me

[2021-10-08 18:35] shikhar13012001 commented on #123
I would love to work on this issue , Could you assign this to me ?

[2021-10-08 18:37] shikhar13012001 commented on #113
I would like to work on this , Could you assign this issue to me ?

[2021-10-08 18:53] rishikeshreddyakkireddy commented on #123
@shikhar13012001 start working :)

[2021-10-08 18:59] shikhar13012001 commented on #113
Ok, sir, I will finish first then I will start on this one :)

[2021-10-09 09:54] tarunkumargit commented on #111
Hi @rishikeshreddyakkireddy bro completed this issue #130  please check it out

[2021-10-09 10:58] #109 closed

[2021-10-09 10:59] #2 closed

[2021-10-09 11:09] #91 closed

[2021-10-09 11:11] m3gh4l4 commented on #116
Hey!! I have good experience with bootstrap. Can u assign this to me??

[2021-10-09 11:39] #85 closed, assigned to atharvabhatt200

[2021-10-09 11:42] #107 closed

[2021-10-09 11:45] #26 closed

[2021-10-09 11:46] m3gh4l4 commented on #113
Sorry but I actually commented on issue 57. Could you assign 57 to me?

[2021-10-09 11:51] m3g4n127001 commented on #123
this design really caught my attention. can I start working on this?

[2021-10-09 11:54] aarrpitt commented on #106
Hello Sir! Myself Arpit from IIT BHU. Can I work on this?

[2021-10-09 11:59] rishikeshreddyakkireddy commented on #106
@aarrpitt I will be adding a few more designs within the next hour, if you are ok with them I will assign you them or if not I will assign this one to you. Is that okay brother? :)

[2021-10-09 13:47] rishikeshreddyakkireddy commented on #113
ok @m3gh4l4 I will assign that to you, start working on it :)

[2021-10-09 13:48] kashish-d commented on #3
Hey @rishikeshreddyakkireddy Pardon me, but i am stuck in some family emergency and the progress is currently on a stop. Please go ahead and assign this to someone else for the time being. I will take other challenge soon 😄

[2021-10-09 13:48] rishikeshreddyakkireddy commented on #116
@m3gh4l4 start working :)

[2021-10-09 13:59] m3g4n127001 commented on #123
yeah sure.. thank you!

[2021-10-09 14:10] rishikeshreddyakkireddy opened #132 "DESIGN 61"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d61](https://user-images.githubusercontent.com/83630220/136661357-fa44d0d8-59cb-4d99-95c0-2aab44ac04f1.jpg)

# Resources

**Assets that are needed, are available in folder Design61**

1: Color Palette generator : https://cool

[2021-10-09 14:18] rishikeshreddyakkireddy opened #133 "DESIGN 62"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d62](https://user-images.githubusercontent.com/83630220/136661746-099ff28c-0919-44d5-8996-1824d2c6ce91.jpg)

# Resources

**Assets that are needed, are available in folder Design62**

1: Color Palette generator : https://cool

[2021-10-09 14:35] rishikeshreddyakkireddy opened #134 "DESIGN 63"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d63](https://user-images.githubusercontent.com/83630220/136662373-a5e5c782-1dbd-446a-a0ac-7b4a86adb570.png)

# Resources

**Assets that are needed, are available in folder Design63**

1: Color Palette generator : https://cool

[2021-10-09 14:37] sjimenez44 commented on #132
hi @rishikeshreddyakkireddy please assign this to me

[2021-10-09 14:45] soumali28 commented on #133
hey plz assign this to me

[2021-10-09 14:46] soumali28 commented on #132
plz assign this to me

[2021-10-09 14:52] rishikeshreddyakkireddy opened #135 "DESIGN 64"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d64](https://user-images.githubusercontent.com/83630220/136663024-0a8fa3b9-228b-4d4b-9631-41b80589708b.jpg)

# Resources

**Assets that are needed, are available in folder Design64**

1: Color Palette generator : https://cool

[2021-10-09 15:05] NaimaGhulamMuhammad commented on #135
can I work on this..?

[2021-10-09 15:07] KartikKode commented on #135
can you assign me this?

[2021-10-09 15:08] aarrpitt commented on #106
Sir I have seen your designs too, they are also good but I want to work on this. Can you please assign me this?

[2021-10-09 15:48] rishikeshreddyakkireddy commented on #134
@priyanshu688  start contributing :)

[2021-10-09 15:54] rishikeshreddyakkireddy commented on #135
Hey @KartikKode, if  would suggest contributing to a different issue, issue number 55 is not yet assigned do check it out :)

[2021-10-09 16:34] nikhilreddydev opened #137 "DESIGN 65"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d65](https://user-images.githubusercontent.com/77785504/136666807-39d6dfc6-0642-40af-a1fa-28a6379eaa97.png)

# Resources

**Assets that are needed, are available in folder Design65**

1: Color Palette generator : https://cool

[2021-10-09 16:51] rishikeshreddyakkireddy commented on #106
@aarrpitt start contributing :)

[2021-10-09 16:53] rishikeshreddyakkireddy commented on #137
start contributing :)

[2021-10-09 17:03] rishikeshreddyakkireddy commented on #3
@Evavic44 are you interested to work on this?

[2021-10-09 17:24] rishikeshreddyakkireddy opened #140 "DESIGN 66"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d66](https://user-images.githubusercontent.com/83630220/136668370-5f0e1c04-15ba-4973-b760-d06bc24cb4a4.jpg)

# Resources

**Assets that are needed, are available in folder Design66**

1: Color Palette generator : https://cool

[2021-10-09 17:33] rishikeshreddyakkireddy commented on #123
@m3g4n127001 I have just uploaded design66, do check that if you like it, I will assign it to you, if not I will assign this to you :)

[2021-10-09 17:35] shikhar13012001 commented on #123
I have submitted a PR for this , could you review it ? thank you

[2021-10-09 17:46] m3g4n127001 commented on #140
this looks good. can i work on this?

[2021-10-09 17:46] m3g4n127001 commented on #140
this looks good. can i work on this?

[2021-10-09 17:56] rishikeshreddyakkireddy commented on #140
@m3g4n127001 start contributing :)

[2021-10-09 18:13] Kushagra-Chauhan commented on #3
Hi @rishikeshreddyakkireddy! Sir I'm interested in contributing to this issue. Can you please assign this to me.

[2021-10-09 20:27] sanskruti-shahu commented on #140
Is any issue not assigned yet.I would like to work on it. @rishikeshreddyakkireddy

[2021-10-09 20:32] sanskruti-shahu commented on #113
Hey!! I want to work on this issue. @rishikeshreddyakkireddy can u assign this to me?

[2021-10-10 03:46] rishikeshreddyakkireddy commented on #113
@sanskruti-shahu start working :) and also we are looking for designers for this repository, are you interested?

[2021-10-10 03:50] rishikeshreddyakkireddy commented on #62
@ayushegupta sorry I forgot to close this issue, but I will be opening a few more issue's in the next few hours, I will let you know try  to be quick to comment :)

[2021-10-10 03:50] #62 closed

[2021-10-10 05:15] sanskruti-shahu commented on #113
@rishikeshreddyakkireddy Alright. So issues will only contain web designs or it can have mobile ui too??

[2021-10-10 05:46] rishikeshreddyakkireddy commented on #113
@sanskruti-shahu that's completely fine, join our discord server: https://discord.gg/Wp4W9r6T :)

[2021-10-10 06:01] rishikeshreddyakkireddy opened #141 "DESIGN 67"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d67](https://user-images.githubusercontent.com/83630220/136684516-1cfef5a8-fd2f-4435-8dfc-79aaf3ec87ce.jpg)

# Resources

**Assets that are needed, are available in folder Design67**

1: Color Palette generator : https://cool

[2021-10-10 06:22] lmas3009 commented on #141
I would like to work on this issue.
Can u pls assign me this?

[2021-10-10 06:22] Hridey79 commented on #141
I will like to work on this. Can u assign this issue to me ?

[2021-10-10 06:23] its-harsshhh commented on #141
i am interested in working on this issue, could you please assigmed it to me?

[2021-10-10 06:24] rishikeshreddyakkireddy opened #144 "DESIGN 68"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d68](https://user-images.githubusercontent.com/83630220/136685090-066dbd5a-b8a0-4829-81f5-ea671162403d.png)

# Resources

**Assets that are needed, are available in folder Design68**

1: Color Palette generator : https://cool

[2021-10-10 06:27] lmas3009 commented on #144
Thanks, @rishikeshreddyakkireddy for assigning me.

[2021-10-10 06:27] rishikeshreddyakkireddy commented on #141
@Hridey79 start contributing :)

[2021-10-10 06:27] its-harsshhh commented on #144
sure buddy

[2021-10-10 07:38] vishalk3102 commented on #116
@rishikeshreddyakkireddy  can u assign me this .

[2021-10-10 08:18] rishikeshreddyakkireddy opened #149 "DESIGN 69"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![design](https://user-images.githubusercontent.com/83630220/136688145-185866f2-1eb2-46bb-aa7c-2d3f846fb8db.jpg)

# Resources

1: Color Palette generator : https://coolors.co/
2: Icons : https://fontawesome.com/
3: Fonts : http

[2021-10-10 08:28] rishikeshreddyakkireddy commented on #144
@its-harsshhh  design69 is open :)

[2021-10-10 08:33] its-harsshhh commented on #149
Yo bro! Interested in contributing;
could you assigned it to me?

[2021-10-10 09:39] #76 closed

[2021-10-10 09:42] rishikeshreddyakkireddy commented on #41
@merikettapearl212 are you working on it?

[2021-10-10 09:56] S-Lauren commented on #25
Okay, I would try this design, could you assign it to me ? :)

[2021-10-10 09:57] lmas3009 commented on #144
@rishikeshreddyakkireddy
i just raised a PR

[2021-10-10 10:03] aparna-bhatt commented on #42
Yes footer is remaining.

On Sun, 10 Oct 2021, 15:13 rishikeshreddyakkireddy, <
***@***.***> wrote:

[2021-10-10 10:08] rishikeshreddyakkireddy commented on #25
@S-Lauren start contributing :)

[2021-10-10 10:09] rishikeshreddyakkireddy opened #153 "DESIGN 70"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d70](https://user-images.githubusercontent.com/83630220/136691299-eaa15756-2251-410c-a172-4674c9fdc2c0.png)

# Resources

**Assets that are needed, are available in folder Design70**

1: Color Palette generator : https://cool

[2021-10-10 10:13] rishikeshreddyakkireddy commented on #62
@ayushegupta I have just now opened design70 go check it out :)

[2021-10-10 10:23] #123 closed, assigned to shikhar13012001

[2021-10-10 10:28] rishikeshreddyakkireddy commented on #153
@utkryuk start contributing :)

[2021-10-10 10:30] #77 closed

[2021-10-10 11:25] sanskruti-shahu commented on #113
@rishikeshreddyakkireddy can u send discord link again. It is showing expired

[2021-10-10 11:37] priyanshu688 commented on #134
@rishikeshreddyakkireddy Please review this PR- https://github.com/rishikeshreddyakkireddy/designtodevelopment/pull/155

[2021-10-10 12:57] #111 closed, assigned to tarunkumargit

[2021-10-10 13:06] Rashmisingh-18 commented on #3
@rishikeshreddyakkireddy,  If no one is working on this issue, could you please assign this to me?

[2021-10-10 13:14] priyanshu688 commented on #134
@rishikeshreddyakkireddy Please review this PR - https://github.com/rishikeshreddyakkireddy/designtodevelopment/pull/157

[2021-10-10 13:22] serhatbek commented on #106
I've completed the design, it ready for review. :)

[2021-10-10 13:57] rishikeshreddyakkireddy commented on #5
@Qlio @YashGupta29 I will be assigning this issue to both of you and the best one will be merged

[2021-10-10 14:46] rishikeshreddyakkireddy opened #159 "DESIGN 71"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![currmain](https://user-images.githubusercontent.com/83630220/136700694-a5ace9ee-dad2-4137-a9c5-0c9262ea6600.jpg)

# Resources

**Assets that are needed, are available in folder Design71**

1: Color Palette generator : https:/

[2021-10-10 17:21] ayushegupta commented on #62
can u tell me if u have more issue to work on..it's is assigned

[2021-10-10 17:53] merikettapearl212 commented on #41
Yes thank you

[2021-10-10 19:19] Babsmutini commented on #94
Can i also work on this @rishikeshreddyakkireddy

[2021-10-10 19:25] vishalk3102 commented on #153
@rishikeshreddyakkireddy  can u assign me this.

[2021-10-10 19:33] PrangonChakraborty-1805085 commented on #46
Can  I contribute to this design too?

[2021-10-11 04:37] aparna-bhatt commented on #42
hey I am leaving a screenshot of how much i have made please see to it if any changes have to be made
![main page](https://user-images.githubusercontent.com/86338542/136733981-9628b0de-0e3d-4952-a43d-adcb750d607e.png)

[2021-10-11 05:25] vishalk3102 commented on #159
Ok..
I have done 1 contribution to this repo. Will u assign me more issues..??

[2021-10-11 05:55] rishikeshreddyakkireddy commented on #159
@vishalk3102 for sure :)

[2021-10-11 08:24] #140 closed, assigned to m3g4n127001

[2021-10-11 08:46] Kushagra-Chauhan commented on #22
Hi @rishikeshreddyakkireddy , can you please assign this issue to me.

[2021-10-11 08:46] aarrpitt commented on #106
Yes Sir, I am working on it.

[2021-10-11 08:50] nikhilreddydev commented on #25
@S-Lauren

are you working on this issue?

[2021-10-11 08:58] nikhilreddydev commented on #44
@riyakushwaha , @ArnabMdev

please update your progress on this issue? :)

[2021-10-11 09:10] rishikeshreddyakkireddy commented on #119
@melan96  are you working on it?

[2021-10-11 09:10] nikhilreddydev commented on #12
okay, can you update your progress on this and issue no. 38 #81

because, both issues have been assigned to you?

[2021-10-11 09:19] #116 closed, assigned to hiddenlucas, m3gh4l4

[2021-10-11 09:20] AkhilChoubey commented on #65
Currently I am busy with my mid exams , I will be contributing after complition of my exams

[2021-10-11 09:20] nikhilreddydev commented on #117
@khushi818 ,

can you update your progress on this issue?

[2021-10-11 09:23] nikhilreddydev commented on #132
@sjimenez44 ,

can you update your progress on this issue?

[2021-10-11 09:32] nikhilreddydev commented on #137
@Evavic44 No, no. we only need the static version of it.

But, we will appreciate. if they can manage to implement that..

[2021-10-11 10:53] #135 closed

[2021-10-11 10:57] rishikeshreddyakkireddy commented on #46
@vikasbhalla05  yes :)

[2021-10-11 11:25] Ardent10 commented on #137
@nikhilreddydev It is done but having some difficulty related to opening a PR. I know it's silly still I want to ask you
Here is the description of what I did:
- created a branch patch1
- Completed the task
- committed
- then upon pushing the I used git push --set-upstream patch1

This created a new branch in my forked repo "patch1". Now when I try to open a PR it shows "Able to merge" upon compar

[2021-10-11 11:32] nikhilreddydev commented on #117
Yes, you can.

You are free to use any potrait.

[2021-10-11 13:49] sanskruti-shahu opened #170 "Design**"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

**Designed By:**  Sanskruti Shahu

# DESIGN

![Spotify_ui](https://user-images.githubusercontent.com/76054960/136801355-703d420f-a568-4146-a235-7b673f8b7e84.png)

# Resources

**Assets that are needed, are available in folder Design 72**

[2021-10-11 14:52] YashGupta29 commented on #170
Can i try this?

[2021-10-11 16:41] #72 closed, assigned to SO1ee

[2021-10-11 17:16] rishikeshreddyakkireddy commented on #3
select all the element's which are in the border and wrap it up with a div and add border to it and also don't forget to add width and height to it :)

[2021-10-11 17:44] its-harsshhh commented on #149
Sorry to inform you @rishikeshreddyakkireddy  my laptop's keyboard having some issues,many keys stop working and its take couples of week to repair therefore i am unable to contribute or may be i can do it after couples of week but i dont want to be anybody's hinderance so could you please unassigned me and lets give others an opportunity to contribute,Hope you understand the problem.Thank you
#bu

[2021-10-11 17:55] manasvip01 commented on #3
@rishikeshreddyakkireddy I did it, Can you assign me? I'll do a pull request.

[2021-10-11 18:02] manasvip01 commented on #3
Please check it out #174

[2021-10-11 18:07] #3 closed

[2021-10-11 19:42] BrendaMichellle commented on #105
@nikhilreddydev @rishikeshreddyakkireddy  I created a pull request. Any feedback on my build is appreciated and thanks for the opportunity to contribute.

[2021-10-12 04:42] nikhilreddydev commented on #170
@rishikeshreddyakkireddy ,

Assign me this issue.

[2021-10-12 04:47] rishikeshreddyakkireddy commented on #149
@its-harsshhh Thank you for letting me know :), do contribute next time

[2021-10-12 04:58] YashGupta29 commented on #149
Please assign this to me.

[2021-10-12 05:07] rishikeshreddyakkireddy commented on #105
@BrendaMichellle Hey it look's great, keep contributing :)

[2021-10-12 05:07] #105 closed, assigned to BrendaMichellle

[2021-10-12 06:00] Bhawna147 commented on #65
@rishikeshreddyakkireddy If no one is working on this , please assign this to me

[2021-10-12 08:36] rishikeshreddyakkireddy commented on #65
@Bhawna147 start working.

@AkhilChoubey ok start working on it after your exams.

[2021-10-12 08:40] rishikeshreddyakkireddy commented on #134
@priyanshu688 are you going to work on this or shall I assign it to other's?

[2021-10-12 11:45] #159 closed

[2021-10-12 11:47] rishikeshreddyakkireddy opened #178 "DESIGN 73"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d73](https://user-images.githubusercontent.com/83630220/136950204-46b29cec-d5d0-4976-be8f-1c0be5c195e9.jpg)

# Resources

**Use images of your choice!**

1: Color Palette generator : https://coolors.co/
2: Icons : https://fon

[2021-10-12 11:56] rishikeshreddyakkireddy opened #179 "DESIGN 74"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d74](https://user-images.githubusercontent.com/83630220/136951544-57f57495-aa25-4de4-9728-7d72e81a801b.jpg)

# Resources

**Assets that are needed, are available in folder Design74**

1: Color Palette generator : https://cool

[2021-10-12 11:57] YashGupta29 commented on #179
Please assign this to me.

[2021-10-12 12:58] rishikeshreddyakkireddy opened #181 "DESIGN 75"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d75](https://user-images.githubusercontent.com/83630220/136960644-db37dbbe-bf21-4e4b-bfc8-511156f33c16.jpg)

# Resources

**Assets that are needed, are available in folder Design75**

1: Color Palette generator : https://cool

[2021-10-12 13:01] rishikeshreddyakkireddy opened #182 "DESIGN 76"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d76](https://user-images.githubusercontent.com/83630220/136961046-4e3ada95-fb75-4139-8f8d-72b1401c0374.png)

# Resources

**Assets that are needed, are available in folder Design76**

1: Color Palette generator : https://cool

[2021-10-13 06:05] #179 closed

[2021-10-13 10:10] #117 closed, assigned to khushi818

[2021-10-13 10:15] rishikeshreddyakkireddy commented on #42
@aparna-bhatt you should have added the button shop now

[2021-10-13 10:26] rishikeshreddyakkireddy opened #190 "DESIGN 77"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d77](https://user-images.githubusercontent.com/83630220/137115873-91043135-7329-4615-a2e4-7b5ecde5462b.jpg)

# Designed By

[TANYA](https://dribbble.com/tanya_oberyshyn)

# Resources

**Assets that are needed, are available i

[2021-10-13 10:42] rishikeshreddyakkireddy opened #191 "DESIGN 78"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d78](https://user-images.githubusercontent.com/83630220/137118079-8fb79b07-95af-4f65-9e36-a3ac0a4f1372.png)

# Designed By

[TANYA](https://dribbble.com/tanya_oberyshyn)

# Resources

**Assets that are needed, are available i

[2021-10-13 10:56] rishikeshreddyakkireddy opened #192 "DESIGN 79"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d79](https://user-images.githubusercontent.com/83630220/137120187-57a6c0cd-8678-46f9-a1a0-feb29f932bd4.png)

# Designed By

[TANYA](https://dribbble.com/tanya_oberyshyn)

# Resources

**Assets that are needed, are available i

[2021-10-13 10:59] rishikeshreddyakkireddy opened #193 "DESIGN 80"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d80](https://user-images.githubusercontent.com/83630220/137120502-ca2118fd-0339-441b-ac7a-23f25fa2047b.png)

# DESINED BY

[VITALIY](https://dribbble.com/VitaliySavinovskiy)

# Resources

**Assets that are needed, are availab

[2021-10-13 11:14] rishikeshreddyakkireddy opened #194 "DESIGN 81"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

https://user-images.githubusercontent.com/83630220/137122497-921a739d-9a7e-4d26-97a3-e4b0a5d9ce2e.mp4

![Screenshot from 2021-10-13 16-37-46 (1)](https://user-images.githubusercontent.com/83630220/137122923-a49a52ff-b18f-4358-8

[2021-10-13 12:15] AayushBiswas commented on #194
Can I do this

[2021-10-13 12:29] vishalk3102 commented on #192
@rishikeshreddyakkireddy  thanks for assigning .

[2021-10-13 13:50] rishikeshreddyakkireddy commented on #193
@tarunkumargit start contributing brother

[2021-10-13 13:51] devikavarshney commented on #191
@rishikeshreddyakkireddy I would like to work on this please assign it to me. 😊

[2021-10-13 14:03] tarunkumargit commented on #193
Thanks for assigning,  do this need to be responsive?

[2021-10-13 15:46] sanskruti-shahu opened #196 "Design 82"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

**Designed By:**  [Sanskruti Shahu](https://dribbble.com/sans2601)

# DESIGN

![InventoryappUI](https://user-images.githubusercontent.com/76054960/137168075-6bb2cc28-27e4-438d-9a14-405a781cde60.png)
![colourCode](https://user-images.gith

[2021-10-14 04:46] rishikeshreddyakkireddy commented on #196
@hiddenlucas start working

[2021-10-14 04:57] #22 closed

[2021-10-14 05:17] #192 closed

[2021-10-14 08:35] noob0412 commented on #78
Check #204 and merge it

[2021-10-14 10:16] rishikeshreddyakkireddy commented on #196
@luharuka I can assign design81, if interested let me know by commenting on that issue

[2021-10-15 02:35] luharuka commented on #196
@rishikeshreddyakkireddy ok i commented there

[2021-10-15 06:57] rishikeshreddyakkireddy opened #207 "DESIGN 83"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d83](https://user-images.githubusercontent.com/83630220/137445014-f2e158f7-ba53-4633-ac36-de353cd2442b.jpg)

# Designed By

[ceptaeityas](https://dribbble.com/ceptarityas)

# Resources

**Use images of your choice**

1: Color

[2021-10-15 07:05] rishikeshreddyakkireddy opened #208 "DESIGN 84"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d84](https://user-images.githubusercontent.com/83630220/137446087-57c5ea21-819f-4429-87f8-209f393a811a.jpg)

# Designed By

[Maneel](https://dribbble.com/maneel)

# Resources

**Images have not been provided, Use Images of yo

[2021-10-15 07:12] YashGupta29 commented on #208
Please assign this to me.

[2021-10-15 07:21] rishikeshreddyakkireddy commented on #208
@YashGupta29 assets haven't provided use images of your choice.

[2021-10-15 07:24] rishikeshreddyakkireddy opened #209 "DESIGN 85"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d85](https://user-images.githubusercontent.com/83630220/137448414-0f5a5128-48c4-4ef9-9df0-5bb6a5e05489.jpg)

# Designed By

[Daniel](https://dribbble.com/danielmoss)

# Resources

**Assets that are needed, are available in fo

[2021-10-15 07:33] #191 closed, assigned to ChLah, devikavarshney

[2021-10-15 07:44] minime89-maker commented on #190
Thanks and sorry for late response. I'm a Bike fan, so please keep me in mind if something like that jump in.

[2021-10-15 07:48] akhil-s-kumar commented on #207
Hey, @rishikeshreddyakkireddy could you assign this to me.

[2021-10-15 09:18] khushi818 commented on #209
can you assign me this?

[2021-10-15 09:22] khushi818 commented on #209
of course I can wait
thank you

[2021-10-15 13:29] rishikeshreddyakkireddy commented on #209
@khushi818 start working

[2021-10-15 13:33] #178 closed, assigned to Darius28

[2021-10-15 13:38] #42 closed, assigned to aparna-bhatt

[2021-10-15 13:40] rishikeshreddyakkireddy commented on #52
@Babsmutini are you working on it?

[2021-10-15 13:41] rishikeshreddyakkireddy commented on #67
@mikemtdev when can we expect your PR?

[2021-10-15 13:42] rishikeshreddyakkireddy commented on #106
@aarrpitt are you working on it?

[2021-10-15 14:01] khushi818 commented on #209
let 's get on to it:)

[2021-10-15 15:04] rishikeshreddyakkireddy commented on #207
@PrangonChakraborty-1805085 start working ;)

[2021-10-15 15:11] rishikeshreddyakkireddy commented on #193
@tarunkumargit perfect!!

[2021-10-15 15:11] #193 closed

[2021-10-15 15:19] rishikeshreddyakkireddy commented on #65
@Bhawna147 Yes!!

[2021-10-15 15:20] rishikeshreddyakkireddy commented on #65
@AkhilChoubey shall I wait for your PR, or I merge Bhawna PR?

[2021-10-15 15:27] #137 closed

[2021-10-15 15:30] rishikeshreddyakkireddy commented on #153
@utkryuk are you working on it?

[2021-10-15 15:49] rishikeshreddyakkireddy commented on #65
@Bhawna147 I will do that by tomorrow, Lil busy

[2021-10-15 15:51] PrangonChakraborty-1805085 commented on #207
Can i use material-ui icons, heroicons and tailwind css in this design?

[2021-10-16 04:21] tarunkumargit commented on #23
Hi @rishikeshreddyakkireddy  i would like to work on it

[2021-10-16 04:51] rishikeshreddyakkireddy commented on #106
@aarrpitt am closing this issue!!

[2021-10-16 04:51] #106 closed, assigned to serhatbek, aarrpitt

[2021-10-16 04:54] rishikeshreddyakkireddy commented on #23
@tarunkumargit I guess I can't provide you, I will try to upload another design instead of this

[2021-10-16 05:09] rishikeshreddyakkireddy commented on #23
@tarunkumargit updated design and images, if you are interested let me know

[2021-10-16 05:16] rishikeshreddyakkireddy commented on #12
@NileshGupta03 checkout design61 and comment there if you are interested

[2021-10-16 05:25] Chetana16032002 commented on #114
you can assign it to someone else if you want @rishikeshreddyakkireddy

[2021-10-16 05:45] NileshGupta03 commented on #23
Please assign this to me.

[2021-10-16 05:56] tarunkumargit commented on #23
@rishikeshreddyakkireddy  i liked the previous design , you can assign thi to nilesh i will work on something else.

[2021-10-16 06:28] killerkc12 commented on #181
yes desktop is done
working on mobile now

[2021-10-16 06:32] rishikeshreddyakkireddy commented on #23
@NileshGupta03 start working

@tarunkumargit design61 is unassigned

[2021-10-16 07:26] aarrpitt commented on #106
@rishikeshreddyakkireddy sorry Sir, actually I got too busy!

[2021-10-16 07:27] YashGupta29 commented on #208
@rishikeshreddyakkireddy  Done. Please review. I wasn't able to find one image though.

[2021-10-16 09:18] toHarsh commented on #182
@rishikeshreddyakkireddy design is completed, PR is made. Please accept it.

[2021-10-16 09:54] #208 closed, assigned to YashGupta29

[2021-10-16 10:11] #23 closed

[2021-10-16 10:18] #113 closed

[2021-10-16 10:20] #78 closed

[2021-10-16 10:27] #182 closed

[2021-10-16 10:44] rishikeshreddyakkireddy commented on #207
@PrangonChakraborty-1805085  Yes you can use any web technologies

[2021-10-16 10:45] minime89-maker commented on #190
No, but I can start 🏃 ...

[2021-10-16 10:57] rt1301 commented on #190
@minime89-maker you can take up this issue if you want, I am unfortunately involved in a few more projects so it will take some time for me to complete it.

[2021-10-16 12:45] khushi818 commented on #209
I can change the face right ?

[2021-10-16 14:51] devikavarshney commented on #153
@rishikeshreddyakkireddy Can I work on this one?

[2021-10-16 14:58] devikavarshney commented on #67
@rishikeshreddyakkireddy Can I work on this one?

[2021-10-16 14:59] devikavarshney commented on #52
@rishikeshreddyakkireddy Can I  do this one?

[2021-10-16 16:28] devikavarshney commented on #209
@khushi818 ohk if required can I do the changes? @rishikeshreddyakkireddy

[2021-10-16 16:36] aakash-taneja commented on #153
@rishikeshreddyakkireddy  Please assign it to me.

[2021-10-16 16:38] rishikeshreddyakkireddy commented on #132
@devikavarshney start working :)

[2021-10-16 16:41] rishikeshreddyakkireddy commented on #153
@aakash-taneja start working

@devikavarshney I have assigned you a design start working on it, I hope you understand why am not assigning this to you :)

[2021-10-16 17:48] akhil-s-kumar commented on #114
Hey, can you assign this to me?

[2021-10-16 17:52] NileshGupta03 commented on #52
@rishikeshreddyakkireddy  Done, and PR raised. Please have a look. Thanks

[2021-10-16 18:19] #52 closed

[2021-10-16 18:20] rishikeshreddyakkireddy commented on #114
@akhil-s-kumar start working :)

[2021-10-17 05:00] #190 closed, assigned to minime89-maker

[2021-10-17 07:12] NileshGupta03 commented on #67
Can you assign it to me?

[2021-10-17 10:35] rishikeshreddyakkireddy commented on #67
start working

[2021-10-17 13:21] NileshGupta03 commented on #67
@rishikeshreddyakkireddy  Done Brother.

[2021-10-17 14:23] #67 closed

[2021-10-17 17:02] #119 closed

[2021-10-18 06:30] #114 closed, assigned to akhil-s-kumar

[2021-10-18 06:35] #209 closed, assigned to khushi818

[2021-10-18 06:43] rishikeshreddyakkireddy commented on #132
@devikavarshney just now logged in to github, sorry for the delay and reviewed your PR make those changes and let me know ;)

[2021-10-18 16:55] rishikeshreddyakkireddy opened #232 "DESIGN 86"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![d86](https://user-images.githubusercontent.com/83630220/137774860-d76ae471-8795-427f-857f-f788f72bd4ff.gif)
![d861](https://user-images.githubusercontent.com/83630220/137774830-c546ebff-d8ed-40be-9033-83b1d765fee3.jpg)
![d86]

[2021-10-19 05:46] rishikeshreddyakkireddy commented on #232
@Shweta200126 @aakash-taneja start working

[2021-10-19 05:51] #141 closed

[2021-10-19 16:28] Khushi-agarwal commented on #12
Sorry won't be able to make one soon.

[2021-10-21 00:10] rishikeshreddyakkireddy commented on #12
@samspecial start working on it, brother

[2021-10-21 11:49] rishikeshreddyakkireddy commented on #25
@S-Lauren when can we expect your PR?

[2021-10-26 14:21] nishi1401 opened #236 "Correcting the File name's case"
![image](https://user-images.githubusercontent.com/77614377/138897824-b123acac-d590-4cf8-9fa2-7e0185505026.png)

I think changing the filenames e.g. `Design58` and `design58` to
- `Design58.1` and `Design58.2`  OR
- Removing the `design(x)` file
Could be done.
If there's a need for it, I can do it :)

[2021-10-27 08:52] #134 closed, assigned to akhil-s-kumar

[2021-10-28 14:30] #236 closed, assigned to nobody

[2021-10-31 13:54] rishikeshreddyakkireddy commented on #232
@Shweta200126 are you working?

[2021-10-31 13:58] rishikeshreddyakkireddy opened #239 "DESIGN 87"
Develop this design using your preferred web technologies. Try to approximate it up to 80%.
Don't worry about colors much, but try to make the UI neat and clean.

# DESIGN

![last](https://user-images.githubusercontent.com/83630220/139587238-e3460a8a-6d86-4936-851d-d4a7ea479822.png)

# Resources

**Assets that are needed, are available in folder Design87**

1: Color Palette generator : https://coo

[2021-11-04 19:33] #41 closed

[2021-11-16 22:30] Tejas-Teju commented on #239
Hi @rishikeshreddyakkireddy ,
I would like to take it, can you please assign the issue to me.

Also, let me know if you only need the UI developed or it needs to be connected to backed or have some functionality in the frontend only

[2022-01-05 15:48] kamarel commented on #232
Hey, I would love to work on that please assign me

[2022-02-11 19:50] ilariapalmas commented on #239
Hey there, can I work on this?

[2022-10-01 05:51] Sumitmaithani commented on #239
hey @rishikeshreddyakkireddy  I'm frontend developer you can see my repo's also i want to contribute to this project please assign me this task. thank you.

[2022-10-06 10:32] ekiira commented on #239
Hello, I would like to work on this, can you assign this issue to me

[2022-10-13 08:28] frotank commented on #239
i think this project is closed